@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* { margin: 0; }

// Variables
$mainBgColor: hsl(217, 54%, 11%);
$mainCdColor: hsl(216, 50%, 16%);
$mainLnColor: hsl(215, 32%, 27%);
$secondaryBgColor: hsl(215, 51%, 70%);
$secondaryTxColor: hsl(178, 100%, 50%);

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    background-color: $mainBgColor;

    font-family: Outfit, sans-serif;
    font-size: 1.2em;
}

.component {
    max-width: 350px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;

    margin: 30px;
    padding: 25px;
    border-radius: 10px;
    color: $secondaryBgColor;
    background-color: $mainCdColor;

    &__image {
        width: 100%;
        max-height: 300px;
        align-self: center;
        border-radius: 10px;
    }
    .inLink:hover {
        opacity: 0.5;
    }
    .link:hover {
        background-color: $secondaryTxColor;
        background-image: url("images/icon-view.svg");
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__title {
        font-size: 1.5em;
        a { text-decoration: none; color: white; }
        a:hover { color: $secondaryTxColor; }
    }
    &__other {
        max-width: 350px;
        display: flex;
        justify-content: space-between;
        &__content-one {
            justify-self: flex-start;
            strong {
                color: $secondaryTxColor;
            }
        }
        &__content-two {
            justify-self: flex-end;
        }
    }
    &__profile {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;

        padding-top: 15px;
        border-top: 1px solid $mainLnColor;

        a { text-decoration: none; color: white; }
        a:hover { color: $secondaryTxColor; }
    }
}


























.attribution { font-size: 11px; text-align: center; a { color: hsl(228, 45%, 44%); } }
